@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

.container{
    width : 600px;
    margin: 20px auto;
    background-color : rgb(193, 193, 193);
    padding : 20px;
}
.title{
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-size :36px;
}
.pera{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height:  1.5em;
}

.btn{
    padding: 10px 20px;
    text-transform: uppercase;
    border : none;
}
.btnSec{
    background-color: gray;
    color : white;
}