@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    /* display: block; */
}
a{
    text-decoration : none;
    color : #888888;
}
.container{
    width: 90%;
    /* height : auto; */
    margin : 0 auto;
    /* display: flex; */
    align-items: center;
    display: block;
}
.logo-part{
    /* padding : 15px; */
    color : rgb(255, 255, 255);
    width : 40%;
    height: 50px;
    float : left;
    color : black !important;
    padding : 5px 0 0 0;
}
.logo-part h1{
    font-size: 28px;
    font-weight: 400;
    line-height: 32.84px;
    letter-spacing: 0.2em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
ul li{
    float : left;
    list-style-type: none;
    margin : 15px;
}
.list-part{
    /* float: left; */
    width : 60%;
    color : #888888;
    float : right;
    align-items: end;
    gap : 2rem;
}
.list{
    width: 80%;
    padding : 0 0 0 40px;
    padding-left: 220px;
   
}

.bar{
    width: 20%;
    float : right;
    padding :14px 0 0 50px;
    display: flex;
    gap: 2rem;
}
.home{
    color : black;
}

/* End navbar */
.header{
    width : 100%;
    height : auto;
    padding : 100px;
    /* padding : 90px 0 0px 100px; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-content{
    font-size: 24px;
    font-weight: 300;
    line-height: 50.62px;
    letter-spacing: 0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.content-header{
    font-family: "Arimo", sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 82.79px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color : #141414;
}

.btn{
    margin : 20px 0 0 0;
    background-color: black;
    color : white;
    padding :13px;
    border-radius:20px;
}
/* End */
.img-wrapper{
    width : 100%;
    gap : 1%;
    /* height : auto; */
    display: flex;
}
.im{
    width : 627px;
    height: 636px;
}
/* end */
/* start Motive */
.motive-container{
    display: flex;
    width : 80%;
    margin : 0 auto;
    height : auto;
}
.motive-left{
    width : 50%;
    padding : 50px;
}
.motive-left h5{
    font-size: 14px;
    color :#A1A1A1;
    line-height: 16.42px;
    letter-spacing: 5px;
    font-weight : 500;
    
}
.motive-left h3{
    font-size: 48px;
    color :#141414;
    font-family: "Arimo", sans-serif;
    text-align: left;
    line-height: 60px;
}
.motive-left p{
    margin : 10px 0 1 0;
    font-size: 18px;
    color :#141414;
    /* font-family: "Arimo", sans-serif; */
    text-align: left;
    line-height: 32px;
    letter-spacing: 1px;
    font-weight: 300;
    
}
.motive-right{
    width : 50%;
    padding : 50px;
}

.img{
    padding : 17px 7px 0 0;
    float : left;
}
.down{
    padding: 8px 10px 0 0;
    float : left;
}

.motive-right h3{
    font-family: "Arimo", sans-serif;
    font-size: 18px;
    line-height: 20.7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    margin : 10px 0 0 0;
}
.motive-right p{
    /* font-family: "Arimo", sans-serif; */
    margin : 10px 0 1 0;
    font-size: 18px;
    color :#141414;
    /* font-family: "Arimo", sans-serif; */
    text-align: left;
    line-height: 32px;
    letter-spacing: 1px;
    font-weight: 300;
    
}
#down{
    margin : 15px 0 0 0;
}
/* End */
/* Start services */
.services{
    width: 100%;
    height: 782px;
    background-color: #FCFCFC;
    /* padding : 150px; */
}
.top-side{
    width : 100%;
    height:40%;
    padding : 150px;
    /* background-color: blue; */
}
.buttom-side{
    height:60%;
    margin: 0 auto;
}
.services h5{
    font-size: 14px;
    color :#A1A1A1;
    line-height: 16.42px;
    letter-spacing: 5px;
    font-weight : 500;
}
.services h2{
    font-family: "Arimo", sans-serif;
    font-size : 48px;
    line-height: 60px;
    font-weight: 700;
}
.left-box{
    width : 30%;
    padding : 30px;
}
.left-box h1{
    font-family: "Arimo", sans-serif;
    font-size: 24px;
    line-height: 27.6px;
    font-weight: 400;
    padding : 20px 0 0 0;
}
.left-box p{
    /* font-family: "Arimo", sans-serif; */
    font-size: 18px;
    line-height:32px;
    font-weight: 300;
    padding : 10px 0 0 0;
    letter-spacing: 2px;
}
.middle-box{
    width : 30%;
   
    padding : 30px;
}
.middle-box h1{
    font-family: "Arimo", sans-serif;
    font-size: 24px;
    line-height: 27.6px;
    font-weight: 400;
    padding : 20px 0 0 0;
}
.middle-box p{
    /* font-family: "Arimo", sans-serif; */
    font-size: 18px;
    line-height:32px;
    font-weight: 300;
    padding : 10px 0 0 0;
    letter-spacing: 2px;
}
.right-box{
    width : 30%;
    padding : 30px;
}
.right-box h1{
    font-family: "Arimo", sans-serif;
    font-size: 24px;
    line-height: 27.6px;
    font-weight: 400;
    padding : 20px 0 0 0;
}
.right-box p{
    /* font-family: "Arimo", sans-serif; */
    font-size: 18px;
    line-height:32px;
    font-weight: 300;
    padding : 10px 0 0 0;
    letter-spacing: 2px;
}
/* end */
.studios-head{
    margin : 30px 0 0 0;
    padding : 0 0 0 150px;
}
.studios-head h5{
    font-size: 14px;
    color :#A1A1A1;
    line-height: 16px;
    letter-spacing: 5px;
    font-weight : 500;
}
.studios-head2{
    margin : 10px 0 0 0;
    padding : 0 0 0 150px;
}
.studios-head2 h2{
    font-family: "Arimo", sans-serif;
    font-size: 48px;
    color :#141414;
    line-height: 60px;
    /* letter-spacing: 5px; */
    font-weight : 700;
}
.studios-navbar{
    margin : 40px 0 0 0;
    padding : 0 0 0 150px;
}
.view{
    padding : 0 0 0 370px;
    color : #141414;
    font-size: 20px;
    line-height : 23.46px;
    font-weight: 500px;
}
/* End */
/* Start */
.slider-part{
    margin : 30px 0 0 0;
    width : 100%;
    height : 400px;
    display: flex;
    /* background-color : blue; */
    gap: 1%;
}

.box1{
    width : 627px;
    height : 446px;
    background-color :#00000073;
    padding : 30px;
   
}
.box1 p{
    padding : 330px 0 0 0;
    color : #FFFFFFCC;
    font-size: 18px;
    line-height : 21.11px;
    font-weight: 400px;
}
.box1 h3{
    /* padding : 0 0 0 200px; */
    font-family: "Arimo", sans-serif;
    color : #FFFFFFCC;
    font-size: 28px;
    line-height : 32.2px;
    font-weight: 700px;
}
.box2{
    width : 627px;
    height : 446px;
    background-color :rgb(159, 159, 181);
}
.box3{
    width : 627px;
    height : 446px;
    background-color :rgb(6, 6, 23);
}
/* End */
.check{
    width: 98px;
    height: 98px;
    gap: 0px;
    border-radius: 70px;
    border: 5px 0px 0px 0px;
    border : white;
    opacity: 0px;
}

