*{
    margin : 0px;
    padding: 0px;
}
.parent{
    width : 800px;
    margin : 0 auto;
    height : 200px;
    /* outline: 10px dashed black; */
}
.container{
    box-sizing: border-box;
    background-color :green;
    width : 200px;
    height : 200px;
    /* margin : 50px; */
    /* outline: 10px dashed black; */
    border : 60px solid yellow;
    padding : 0px 0px 0px 10px;
    float : left;
}

.div-2{
    width : 400px;
    height : 200px;
    background-color :rgb(7, 7, 46);
    float : right;
}
.footer{
    width : 400px;
    height : 200px;
    background-color :blue;
}
.clearfix::after{
    content : "";
    display : block;
    clear : both;
}